
* {
  margin: 0;
  padding: 0;
  width: 100vw; 

  box-sizing: border-box;
  font-family: "Playfair Display", Roboto;
  font-size: 24px;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header {
  position: relative;
  overflow: hidden;
}
header .bg {
  background-color: rebeccapurple;
  position: absolute;

  left: -40%;
  top: -16%;

  width: 150vw;
  height: 20em;
  transform: rotate(-25deg);
}
header .logo{
  position: relative;
}
header .logo::before {
  content: 'アシュリー ナカニシ';
  position: absolute;

  top: 5%;
  right: 10%;
  width: 1em;

  font-size: 1.1em;
  color: white;
  text-shadow: 1px 5px 3px #1C6EA4;
}
header .logo img {
  padding: 1em;
  object-fit: cover;
}
header .about-me .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2.header {
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}
header .about-me .info p {
  text-align: start;
  font-family: Arial;
  font-size: 21px;
  color: rgb(206, 206, 206);
  padding: 1em 0.6em;
}
header .about-me .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
header .about-me .socials img {
  width: 1.5em;
}

main {
  overflow: hidden;
}
.works-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

article.work {
  -webkit-box-shadow: 5px 5px 12px 0px #000000; 
  box-shadow: 0px 2px 3px 0px #999999;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 51px;
}
.project-img {
  display: flex;
  overflow: hidden;
}
.project-img img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  object-fit: contain;
}
.project-info {
  flex: 1 1 0;
}
.project-img,
.project-info {
  width: 100%;
  min-width: 0;
}
.project-name {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4em 0.2em;
}
.project-links {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  flex: 0;
}
.project-name h3 {
  margin: 0;
  flex: 1;
  font-size: 16px;
  overflow: hidden;
  font-weight: 500;
  text-indent: 2ch;
}
.project-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.project-links a img {
  width: 18px;
  height: 15px;
}
.project-desc {
  font-family: Arial;
  font-size: 12px;
  width: 100%;
  padding: 0 1.2em 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}
footer {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 2em;
  flex-direction: column;

  background-color: rebeccapurple;

  width: 100%;
  height: auto;
  
}
footer h2.header {
  color: white;
  margin-top: 0.5em;
}
.footer-info {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
}
.footer-info .socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.footer-info .socials a {
  width: 1.5em;
}
.footer-info .socials a img {
  width: 1.5em;
}
.footer-info .contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer-info .contacts p {
  font-size: 12px;
  padding-left: 1em;
}
.desc p{
  font-size: 16px;
  font-weight: 500;
  padding-left: 12px;
}
